    <!-- Wishlist Section -->
    <section id="wishlist" class="content-section text-center">
        <div class="wishlist-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Wishlist NOW</h2>

                    <a href="https://store.steampowered.com/app/" target="_blank">
                        <img src="img/steam.svg" alt="" class="wishlist-logo">
                    </a>

                    <a href="https://store.epicgames.com/en-US/p/" target="_blank">
                        <img src="img/epic-games-logo.svg" alt="" class="wishlist-logo">
                    </a>
                </div>
            </div>
        </div>
    </section>